.footer {
    align-items: center;
    display: grid;
    font-size: 14px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    min-width: 1200px;
    max-width: 1600px;
    padding: 10px;
}

.footer-img {
    margin: 0 5px;
    width: 14px; 
}

.gob { display: flex; }