.nav, .nav-li { display: grid; }

.navigation, .header, .search-box, .search-btn, .li-e, .fecha { display: flex; }

.navigation, .header, .li-e { align-items: center; }

.navigation, .header { justify-content: center; }

.header, .nav { left: 0; }

/* Cabecera de la p치gina */

.header, .nav {
    position: fixed;
    top: 0;
}

.header, .header-logo, .header-title { z-index: 100; }

.header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    grid-area: header;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    width: 100vw;
}

.header-title img { width: 100px; }

.btn-header {
    height: 40px;
    width: 40px;
}

/* Navegaci칩n de la p치gina */

.nav {
    clip-path: polygon(0% 0%, 50px 0%, 50px 100%, 0% 100%);
    grid-area: nav;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    height: 100vh;
    margin-top: 50px;
    overflow-y: auto;
    transition: all .4s ease;
    width: 190px;
}

.nav::-webkit-scrollbar {
    background: none;
    width: 10px;
}
.nav::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 20px;
}

.nav:hover { clip-path: polygon(0% 0%, 190px 0%, 190px 100%, 0% 100%); }

.nav-li {
    display: grid;
    grid-template-columns: 1fr;   
    height: 50px;
    padding: 0 5px;
    transition: all .5s ease;
    width: 100%;

}

.nav-li:last-child { margin-bottom: 60px; }

.nav-li:hover { background-color: rgba(0, 0, 0, .5); }

.nav-li a {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.nav-li a img {
    background-color: white;
    border-radius: 50%;
}

.nav-li-text {
    align-items: center;
    display: flex;
}

/* Opciones de sesi칩n */

#btn-option-sesion {
    height: 100%;
    width: 100%;
}

.option-sesion {
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 50px;
    width: 150px;
    z-index: 100;
}

.option-header { position: relative; }

.change {
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
}

.option-change:hover > .change { display: block; }

.li-e {
    height: 35px;
    padding: 10px;
    width: 100%;
}
.li-e i { margin-right: 5px; }

/* Fecha */

.fecha .m-right { margin-right: 5px; }