@import './header.css';
@import './footer.css';
@import './module-header.css';
@import './profile.css';
@import './login.css';
@import './recover.css';
@import './pago-arancel.css';

html, body {
    background-color: rgb(245, 245, 245);
}

.body {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "header header"
                         "nav cont";
}

body::-webkit-scrollbar {
    background: none;
    height: 10px;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 20px;
}

.main {
    display: grid;
    grid-area: cont;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto;
    justify-content: center;
    width: 100%;
}

.hide { display: none; }

.message {
    left: 0;
    position: fixed;
    text-align: center;
    top: 60px;
    width: 100vw;
    z-index: 1000;
}

.message div {
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: inline-block;
}

.content-hide {
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100vw;
}

.content-hide.active { visibility: visible; }

.popup {
	opacity: 0;
	transform: scale(1);
	transition: .3s ease all;
}

.popup.active {
    opacity: 1;
    transform: scale(1);
}

/* Formulario de busqueda */

.search-box {
    align-items: center;
    height: 30px;
    margin-left: 25px;
    position: relative;
    width: 500px;
}

.btn-search {
    height: 25px;
    left: 2.5px;
    outline: none;
    position: absolute;
    top: 2.5px;
    width: 25px;
}

.search-txt {
    border: none;
    font-size: 16px;
    height: 100%;
    outline: none;
    padding: 5px 5px 5px 30px;
    width: 100%;
}

.content-search {
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    top: 33px;
    width: 100%;
}