.module-header {
    align-items: center;
    color: rgb(80, 80, 80);
    display: flex;
    font-size: 25px;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.logo {
    height: 30px;
    margin-left: 10px;
}