.container-img p, .profile-img, .card h3, .card h4 { display: flex; }

.container-img p { align-items: center; }

.profile-content, .cards, .card { display: grid; }

.profile-content { grid-gap: 10px; }

.container-img p, .profile-img { justify-content: center; }

.container-img { position: relative; }

.container-img p, .container-img img { position: absolute; }

.profile-content {
    grid-template-columns: 1fr;
}

.cards, .form-profile-edit { transition: all 1s ease; }

.cards {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px);
}

.card {
    grid-template-columns: 1fr;
    grid-template-rows: 165px 20px 15px;
    height: 200px;
    text-decoration: none;
    transition: all .3s ease;
    width: 200px;
}

.card img {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.card h3, .card h4 { padding: 0 5px; }

.card h3 {
    align-items: flex-end;
    color: black;
    font-size: 16px;
}
.card h4 {
    align-items: flex-start;
    color: rgb(100, 100, 100);
    font-size: 12px;
}

.container-img p {
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    color: white;
    font-size: 14px;
    height: 20px;
    transition: all .4s ease;
    width: 100%;
    z-index: 1;
}

.container-img:hover p {
    background-color: rgba(0, 0, 0, .6);
    font-size: 22px;
    height: 50px;
}
