.recover, .recover-step { display: grid; }

.recover {
    background-color: white;
    grid-gap: 50px;
    grid-template-columns: 800px;
}

.recover-step { grid-template-columns: repeat(3, 1fr); }

.step {
    align-items: center;
    display: flex;
    justify-content: center;
}