.recover, .recover-step { display: grid; }

.recover {
    grid-gap: 50px;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, auto);
}

.recover-step { grid-template-columns: repeat(3, 1fr); }

.step {
    align-items: center;
    display: flex;
    justify-content: center;
}