<div class="module-header">
    <h2 class="font-f-s">Nuevo Ingreso</h2>
</div>
<div class="p-10">
    <section>
        <form action="" method="POST" class="form">
            <h2 class="form-title font-f-s p-10 color-b-blue-3 font-18">Datos Personales</h2>
            <div class="form-section-parts g-t-c-4">
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="nombre1" id="pn" required autofocus>
                    <label for="" class="form-label">
                        <span class="label-content">Primer Nombre*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="nombre2" id="sn">
                    <label for="" class="form-label">
                        <span class="label-content">Segundo Nombre</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="apellido1" id="pa" required>
                    <label for="" class="form-label">
                        <span class="label-content">Primer Apellido*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="apellido2" id="sa">
                    <label for="" class="form-label">
                        <span class="label-content">Segundo Apellido</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="cedula" id="ced" required>
                    <label for="" class="form-label">
                        <span class="label-content">Cedula*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="date" class="form-input" name="fecha" id="fecha" required>
                    <label for="" class="form-label">
                        <span class="label-content">Fecha de Nacimiento*</span>
                    </label>
                </div>
                <div class="form-section">
                    <select class="form-input" required>
                        <option value="V">VENEZOLANO</option>
                        <option value="E">EXTRANJERO</option>
                    </select>
                    <label for="" class="form-label">
                        <span class="label-content">Nacionalidad*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="lugar" id="lugar" required>
                    <label for="" class="form-label">
                        <span class="label-content">Lugar de Nacimiento*</span>
                    </label>
                </div>
            </div>

            <h2 class="form-title font-f-s p-10 color-b-blue-3 font-18">Teléfonos/Correos</h2>
            <div class="form-section-parts g-t-c-4">
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="telefono1" id="tel1" required>
                    <label for="" class="form-label">
                        <span class="label-content">Télefono 1*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="telefono2" id="tel2">
                    <label for="" class="form-label">
                        <span class="label-content">Télefono 2</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="local" id="local">
                    <label for="" class="form-label">
                        <span class="label-content">Local</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="email" class="form-input" name="correo1" id="email1" required>
                    <label for="" class="form-label">
                        <span class="label-content">Correo 1*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="email" class="form-input" name="correo2" id="email2">
                    <label for="" class="form-label">
                        <span class="label-content">Correo 2</span>
                    </label>
                </div>
            </div>

            <h2 class="form-title font-f-s p-10 color-b-blue-3 font-18">Dirección</h2>
            <div class="form-section-parts g-t-c-4">
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="estado" id="estado" required>
                    <label for="" class="form-label">
                        <span class="label-content">Estado*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="municipio" id="muni" required>
                    <label for="" class="form-label">
                        <span class="label-content">Municipio*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="parroquia" id="parro" required>
                    <label for="" class="form-label">
                        <span class="label-content">Parroquia*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="email" class="form-input" name="sector" id="sector" required>
                    <label for="" class="form-label">
                        <span class="label-content">Sector*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="email" class="form-input" name="calle" id="calle" required>
                    <label for="" class="form-label">
                        <span class="label-content">Calle*</span>
                    </label>
                </div>
                <div class="form-section">
                    <input autocomplete="off" type="email" class="form-input" name="casa" id="casa" required>
                    <label for="" class="form-label">
                        <span class="label-content">Casa/Apartamento*</span>
                    </label>
                </div>
            </div>

            <h2 class="form-title font-f-s p-10 color-b-blue-3 font-18">Datos de la Carrera</h2>
            <div class="form-section-parts g-t-c-4">
                <div class="form-section">
                    <select class="form-input" id="esp" required>
                        <option value="">- - -</option>
                        <option value="E32">GERENCIA DE RECURSOS HUMANOS</option>
                    </select>
                    <label for="" class="form-label">
                        <span class="label-content">Especialización Carrera*</span>
                    </label>
                </div>                
                <div class="form-section">
                    <input autocomplete="off" type="text" class="form-input" name="cohorte" id="cohorte" value="2020" required disabled>
                    <label for="" class="form-label">
                        <span class="label-content">Cohorte*</span>
                    </label>
                </div>
            </div>
            <div class="form-section" id="materias"></div>

            <div class="form-section">
                <p class="color-red">Datos requeridos (*)</p>
            </div>
            <div class="form-section container">
                <button class="btn btn-grey form-button br-3">Registrar</button>
            </div>
        </form>
    </section>
</div>
<script src="/js/new.js"></script>