<section class="container form-arancel hide">
    <form action="" method="POST" class="form">
        <h2 class="form-title font-f-s p-10 color-b-blue-3 font-18">AÑADIR ARANCEL</h2>
        <div class="form-section-parts">
            <div class="form-section">
                <input autocomplete="off" type="text" class="form-input" name="nombre1" autofocus required>
                <label for="" class="form-label">
                    <span class="label-content">Codigo*</span>
                </label>
            </div>
            <div class="form-section">
                <input autocomplete="off" type="text" class="form-input" name="nombre2" required>
                <label for="" class="form-label">
                    <span class="label-content">Concepto*</span>
                </label>
            </div>
            <div class="form-section">
                <input autocomplete="off" type="text" class="form-input" name="apellido1" required>
                <label for="" class="form-label">
                    <span class="label-content">Monto*</span>
                </label>
            </div>
        </div>
        <div class="form-section">
            <p class="color-red">Datos requeridos (*)</p>
        </div>
        <div class="form-section container">
            <button class="btn btn-grey form-button br-3">Agregar</button>
        </div>
    </form>
</section>