<section class="container change">
    <form action="" method="POST" class="form color-b-white c-default">
        <h1 class="form-title font-f-s p-10 color-b-blue-3 font-14">CAMBIAR PREGUNTAS</h1>
        <div class="form-section-parts">
            <div class="form-section">
                <input autocomplete="off" type="text" class="form-input" name="pregunta1" value="{{user.pregunta1}}" required>
                <label for="" class="form-label">
                    <span class="label-content">Cambiar Primera Pregunta</span>
                </label>
            </div>
            <div class="form-section">
                <input autocomplete="off" type="text" class="form-input" name="respuesta1" required>
                <label for="" class="form-label">
                    <span class="label-content">Nueva Respuesta</span>
                </label>
            </div>
            <div class="form-section">
                <input autocomplete="off" type="text" class="form-input" name="pregunta2" value="{{user.pregunta2}}" required>
                <label for="" class="form-label">
                    <span class="label-content">Cambiar Segunda Pregunta</span>
                </label>
            </div>
            <div class="form-section">
                <input autocomplete="off" type="text" class="form-input" name="respuesta2" required>
                <label for="" class="form-label">
                    <span class="label-content">Nueva Respuesta</span>
                </label>
            </div>
        </div>
        <div class="form-section container">
            <button class="btn btn-grey br-3">Guardar</button>
        </div>
    </form>
</section>