<section class="container change">
    <form action="" method="POST" class="form color-b-white c-default">
        <h1 class="form-title font-f-s p-10 color-b-blue-3 font-14 uppercase">CAMBIAR CONTRASEÑA</h1>
        <div class="form-section-parts">
            <div class="form-section">
                <input autocomplete="off" type="password" class="form-input" name="pass" required>
                <label for="" class="form-label uppercase">
                    <span class="label-content">Contraseña actual</span>
                </label>
            </div>
            <div class="form-section">
                <input autocomplete="off" type="password" class="form-input" 
                name="pass"
                    required>
                <label for="" class="form-label uppercase">
                    <span class="label-content">Nueva Contraseña</span>
                </label>
            </div>
        </div>
        <div class="form-section" id="enviar">
            <span class="btn btn-grey br-3 uppercase">Guardar</span>
        </div>
    </form>
</section>