<section class="container form-login">
    <form action="/login" method="POST" class="form">
        <h1 class="form-title font-f-s p-10 color-b-blue-3">
            <img src="/img/sipo-white.png" alt="SIPO">
        </h1>
        <div class="form-section-parts">
            <div class="form-section">
                <input autofocus autocomplete="off" type="text" class="form-input" name="cedula" id="ced" required>
                <label for="" class="form-label">
                    <span class="label-content uppercase">Cedula</span>
                </label>
            </div>
            <div class="form-section">
                <input autocomplete="off" type="password" class="form-input" name="pass" id="pass" required>
                <label for="" class="form-label">
                    <span class="label-content uppercase">Contraseña</span>
                </label>
            </div>
            <div class="form-section">
                <a href="/recover/step/1">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
        <div class="form-section container">
            <button class="btn btn-grey form-button br-3 uppercase" id="enviar">Ingresar</button>
        </div>
    </form>
</section>