<header class="header color-b-blue-3">
    <section class="navigation">
        <aside class="container opt">
            {{> nav }}
        </aside>
        <aside class="container">
            <a class="no-link header-title" href="/profile">
                <h1 class="font-f-s color-white">SIPO</h1>
            </a>
        </aside>
        {{> search }}
    </section>
    <section class="container option-header">
        <div class="fecha font-12" id="fecha">
            {{ fecha }}
        </div>
        <aside class="btn-header container btn btn-blue-2 br-50" id="btn-option-sesion">
            <span class="no-link color-white" title="Mas"><i class="fas fa-ellipsis-v"></i></span>
            {{> option-session }}
        </aside>
    </section>
</header>
<script src="/js/header.js"></script>