{{#if message}}
<div class="message">
    <div class="color-b-red p-10-20 br-3">
        <h3>
            {{message}}
        </h3>
    </div>
</div>
<script src="/js/message.js"></script>
{{/if}}

{{#if success}}
<div class="message">
    <div class="color-b-blue-3 p-10-20 br-3">
        <h3>
            {{success}}
        </h3>
    </div>
</div>
<script src="/js/message.js"></script>
{{/if}}