<nav class="nav color-b-blue-3">
    <section class="nav-ul-section font-12">
        <ul class="nav-ul uppercase select-li">
            <li class="nav-li container c-point t-2">
                <a href="/" class="nav-iten color-white no-link">
                    <div class="img container">
                        <img src="/img/home.jpeg" class="img-iten">
                    </div>
                    <p class="nav-li-text font-b">Inicio</p>
                </a> 
            </li>

            {{#if user.analista_admin}}
            {{> opt-analista }}
            {{/if}}

            {{#if user.control_estudio}}
            {{> opt-control }}
            {{/if}}

            {{#if user.admin}}
            {{> opt-admin }}
            {{/if}}
            
        </ul>
    </section>
</nav>