<li class="nav-li container c-point t-2">
    <span class="nav-iten color-white">
        <div class="img container">
            <img src="/img/aranceles.jpg" class="img-iten">
        </div>
        <p class="nav-li-text font-b">Aranceles</p>
    </span>
    <ul class="nav-li-itens">
        <li class="c-point t-2">
            <a href="/admin/aranceles" class="no-link color-white font-12">Mostrar</a>
        </li>
        <li class="c-point t-2">
            <a href="" class="no-link color-white font-12">Nuevo</a>
        </li>
    </ul>
</li>

<li class="nav-li container c-point t-2">
    <span class="nav-iten color-white">
        <div class="img container">
            <img src="/img/consulta.jpg" class="img-iten">
        </div>
        <p class="nav-li-text font-b">Consultas</p>
    </span>
    <ul class="nav-li-itens">
    </ul>
</li>

<li class="nav-li container c-point t-2">
    <span class="nav-iten color-white">
        <div class="img container">
            <img src="/img/calendar.jpg" class="img-iten">
        </div>
        <p class="nav-li-text font-b">Periodo Académico</p>
    </span>
    <ul class="nav-li-itens">
    </ul>
</li>

<li class="nav-li container c-point t-2">
    <span class="nav-iten color-white">
        <div class="img container">
            <img src="/img/users.jpeg" class="img-iten">
        </div>
        <p class="nav-li-text font-b">Usuarios</p>
    </span>
    <ul class="nav-li-itens">
        <li class="c-point t-2">
            <a href="/admin/users" class="no-link color-white font-12">Mostrar</a>
        </li>
        <li class="c-point t-2">
            <a href="" class="no-link color-white font-12">Nuevo</a>
        </li>
    </ul>
</li>