<li class="nav-li container c-point t-2">
    <span class="nav-iten color-white">
        <div class="img container">
            <img src="/img/pagoArancel.jpg" class="img-iten">
        </div>
        <p class="nav-li-text font-b">Pago de Aranceles</p>
    </span>
    <ul class="nav-li-itens">
        <li class="c-point t-2">
            <a href="/analista-admin/pago-arancel" class="no-link color-white font-12">Ver</a>
        </li>
    </ul>
</li>