<div class="option-sesion hide">
    <ul>
        <li class="color-blue li-e c-default">
            <i class="fas fa-cog"></i>{{user.id_usuario}}
        </li>
        <li class="option-change">
            <span class="color-grey btn-white li-e">
                <i class="fas fa-user-edit"></i>Editar perfil
            </span>
        </li>
        <li class="option-change">
            <span class="color-grey btn-white li-e">
                <i class="fas fa-user-lock"></i>Cambiar
                contraseña
            </span>
        </li>
        <li class="option-change">
            <span class="color-grey btn-white li-e">
                <i class="fas fa-question-circle"></i>Cambiar
                preguntas
            </span>
        </li>
        <li class="option-change">
            <a href="/exit" class="no-link color-grey btn-white li-e"><i class="fas fa-sign-out-alt"></i>Cerrar
                sesión</a>
        </li>
    </ul>
</div