<div class="search-box">
    <span class="btn-search no-link container color-grey br-3 c-point"><i class="fas fa-search"></i></span>
    <input class="search-txt br-3" type="text" placeholder="Buscar">
</div>