<form action="" class="search-box">
    <button class="btn-search container color-grey br-3 c-point color-b-white">
        <i class="fas fa-search"></i>
    </button>
    <input class="search-txt br-3" type="text" placeholder="Buscar">
</form>