<form action="" class="search-box">
    <button class="btn-search container color-b-white color-grey br-3 c-point">
        <i class="fas fa-search"></i>
    </button>
    <input class="search-txt color-b-white br-3" id="search" type="text" placeholder="Buscar">
    <div class="content-search color-b-white hide">
        <ul>
            <li class="item-list c-default font-b btn-white p-5-10"></li>
        </ul>
    </div>
</form>