<section class="user-data container">
    <section class="user-profile">
        <div class="user-profile-img">
            <img src="/img/user.png" alt="Usuario" class="br-50 color-b-grey-sure p-10">
        </div>
        <div class="user-profile-name">
            <aside><h3>Albert G. Diaz G.</h3></aside>
            <aside class="font-14 font-b">Administrativo</aside>
            <aside class="font-12">Administrador</aside>
        </div>
    </section>
    <section class="user-contact p-10">
        <div class="container">
            <p class="font-b">Cedula:&nbsp; </p>
            <p>25332322</p>
        </div>
        <div class="container">
            <p class="font-b">Telefono:&nbsp; </p>
            <p>04128022746</p>
        </div>
        <div class="container">
            <p class="font-b">Correo:&nbsp; </p>
            <p>diazalbert45@gmail.com</p>
        </div>
        <div class="container">
            <p class="font-b">Status:&nbsp; </p>
            <p>Activo</p>
        </div>
        <div class="user-setting">
            <p class="font-12">Creado por Albert Diaz 23/02/2019</p>
            <p class="font-12">Actualizado por Albert Diaz 23/02/2019</p>
            <p class="font-12">Reseteado por Albert Diaz 23/02/2019</p>
        </div>
    </section>
    <section class="user-options p-10">
        <aside class="container">
            <a href="" class="btn no-link br-3 btn-red">Delete</a>
            <a href="" class="btn no-link br-3 btn-green">Update</a>
        </aside>
        <aside>
            <a href="" class="btn no-link br-3 btn-white color-b-grey-sure">Reset</a>
        </aside>
    </section>
</section>