<div class="module-header">
    <h2 class="font-f-s font-24">Aranceles</h2>
    <span class="btn-35 btn btn-grey p-10 br-50 uppercase" id="add-arancel" title="Nuevo arancel"><i class="fas fa-plus-circle"></i></span>
</div>
<div class="users p-10">
    {{> list-aranceles }}
    {{> add-arancel }}
</div>
<script src="js/aranceles.js"></script>