<div class="module-header">
    <h2 class="font-f-s">Usuarios</h2>
    <div class="container">
        <span class="btn-35 btn btn-grey p-10 br-50 font-16" id="add-user" title="Nuevo usuario"><i class="fas fa-user-plus"></i></span>
    </div>
</div>
<div class="users p-10">
    {{> list-users }}
    <div class="content-hide z-index-1000"></div>
</div>
<script src="/js/users.js"></script>