<div class="module-header">
    <h2 class="font-f-s font-24">Usuarios</h2>
    <div class="container">
        <span class="btn-35 btn btn-grey p-10 br-50 font-16 uppercase" id="add-user" title="Nuevo usuario"><i class="fas fa-user-plus"></i></span>
    </div>
</div>
<div class="p-10">
    {{> list-users }}
    {{> content-hide }}
</div>
<script src="/js/users.js"></script>