<div class="bg">
    {{> form-login }}
    <div class="content-hide z-index-1000">
        <div class="popup">
            {{> stepOne }}
        </div>
    </div>
</div>

<script src="/js/login.js"></script>