<div class="profile-content p-10">
    <div class="bienvenido">
        <h2 class="nombre color-white font-f-s">Bienvenido(a) {{user.primer_nom}} {{user.primer_ape}}</h2>
        <p class="color-white font-20 font-f-s">Ultima sesión 31 Enero 2020 10:45 AM</p>
    </div>
</div>
<script src="/js/profile.js"></script>