<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/basic-styles.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <title>SIPO - {{ title }}</title>
</head>

<body>
    <div class="body">
        {{#if user}}
        {{> header }}
        {{/if}}

        <main class="main">
            {{> message }}
            {{{ body }}}
        </main>

    </div>
</body>

</html>